a {
    text-decoration: none;
    color: #FFF;
    font-size: larger;
}

.wrapper {
    max-width: 55rem;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


@media (min-width: 768px) {
    .wrapper {
    max-width: 100rem;
    margin: 0 auto;
    }
}

img {
    max-width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1 {
    display: block;
    font-size: 5rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 768px) {
    h1 {
    display: block;
    font-size: 9.5rem;
    }
}

h2 {
    display: block;
    font-size: 3.5rem;
    margin-block-start: 0.41rem;
    margin-block-end: 0.41rem;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 768px) {
    h2 {
    display: block;
    font-size: 5rem;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }
}

h3 {
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    h3 {
    font-size: 4.5rem;
    }
}


p {
    display: block;
    font-size: 1.8rem;
    margin-block-start: 0.8rem;
    margin-block-end: 0.8rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.iconos img {
    width: 8rem;
    height: 8rem;
    background-color: #202020;
    border-radius: 50%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .iconos img {
    width: 10rem;
    height: 10rem;
    background-color: #202020;
    border-radius: 50%;
    margin: 2rem auto;
    padding: 1rem;
    }
}

.padding {
    padding: 2.5rem;
}

@media (min-width: 768px) {
    .padding {
    padding: 5rem;
    }
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: #020403;
    color: var(--text-color);
}


img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #adadad;
    text-decoration: none;
}


h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
} 

p {
    font-family: 'Rubik', sans-serif;
    color: #adadad;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    color: #e1e1e1;
}


.navbar__conteiner {
    max-width: 55rem;
    margin: 0 auto;
}


@media (min-width: 768px) {
.navbar__conteiner {
    max-width: 100rem;
    margin: 0 auto 0 27rem;
    }
}

.contenedor-navegacion {
    border-bottom: 1px solid;
}

.toggle-menu {
    position: fixed;
    top: 1.2rem;
    right: 2rem;
    cursor: pointer;
    filter: invert(1);
    width: 4.5rem;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .toggle-menu {
    display: none;
    }
}

.main-menu {
    list-style: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    text-align: inherit;
    background-color: #020403;
    backdrop-filter: contrast(0.5) blur(5px);
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s;
}


.main-menu a {
    color: #adadad;
}


@media screen and (min-width: 768px) {
    .main-menu {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s;
    }
}

@media screen and (min-width: 768px) {
.main-menu a {
color: #adadad;
}
}

.main-menu--show {
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
    .main-menu {
    position: fixed;
    padding: 2rem 0;
    gap: 2rem;
    flex-direction: row;
    transform: translateY(0);
    }
}

.main-menu__item {
    padding: 1rem;

}

.main-menu__link {
    color: white;
    /* text-transform: uppercase; */
    text-decoration: none;
}

.experiencia {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 1rem;
    line-height: 0rem;
}


.experiencia-1 {
    grid-row: 1/3;
    border-bottom: 1px solid #ADADAD;
}

.experiencia-2 {
    grid-row: 3/5;
    border-bottom: 1px solid #ADADAD;
}

.experiencia-3 {
    grid-row: 5/7;
    border-bottom: 1px solid #ADADAD;
}

.experiencia-text {
    color: #ADADAD;
    font-weight: 400;

}

.experiencia-bold {
    font-weight: bolder;
}

.lista-portafolios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.lista-portafolios img {
    width: 31rem;
}

.contacto h2 {
    text-align: center;
    margin: 10rem 0 3rem 0;
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10rem;
    max-width: 50rem;
    margin: 3rem auto;
    margin-bottom: 9rem;

}

.footer__list img {
    width: 10rem;
    height: 10rem;
    border: 1px solid white;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 2rem;
}

.footer__list img {
    height: 10rem;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}

.usuario {
    display: grid;
    grid-template-columns: 1fr;
    margin: 9rem 0 4rem 0;
    justify-items: center;
}

@media (min-width: 768px) {
    .usuario {
    display: grid;
    grid-template-columns: 1fr;
    margin: 12rem 0 6rem 0;
    justify-items: center;
    }
}

@media (min-width: 768px) {
    .usuario img {
    height: 35rem;
    }
}

@media (min-width: 768px) {
    .iconos__redes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10rem;
    }
}

.mis__habilidades {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

@media (min-width: 768px) {
    .mis__habilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 15rem;
    max-width: 65rem;
    margin: 1rem auto;
    }
}

.iconos__habilidades {
    padding: 2rem;
}


@media (min-width: 768px) {
    .usuario img {
    height: 35rem;
    }
}

@media (min-width: 768px) {
    .iconos__redes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10rem;
    }
}

@media (min-width: 768px) {
    .iconos__redes img {
    height: 13rem;
    }
}

@media (min-width: 768px) {
    p {
    display: block;
    font-size: 2rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
}